<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register-logIn.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/d517d5ff3f.js" crossorigin="anonymous"></script>
    <title>LogIn</title>
</head>
<body>
    <header>
        <div class="main-header-container">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre">
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="title">LogIn</div>
            <form action="#">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Nombre De Usuario</span>
                        <input type="text" placeholder="Nombre De Usuario" required>
                    </div>
    
                    <div class="input-box">
                        <span class="details">Contraseña</span>
                        <input type="text" placeholder="contraseña" required>
                    </div>
                </div>
    
                <div class="button">
                    <input onclick="window.location.href = '/'" type="submit" value="LogIn">
                </div>
            </form>
        </div>
    </main>
</body>
</html>